/* globals */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Mono", monospace;
}

textarea {
  height: 15rem;
}

/* i think this technically isn't a global */
.card-img-top {
  min-height: 20rem;
  max-width: 100%;
}

.fab {
  color: #fff;
}

.icons-container {
  padding: 3rem;
}

/* name this eventually */
.adopt-me {
  max-width: 100%;
  height: auto;
}

/* positioning */

/* theme-utilities */

.theme-pink {
  color: #fbaccc;
}

.nav-link {
  color: #fbaccc;
}

.nav-link:hover {
  color: #fff;
}

.theme-gray {
  background-color: #212529;
}
