/* globals */

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Roboto Mono", monospace;
  margin: 100%;
  margin: 0;
  width: 100vw;
}

textarea {
  height: 15rem;
}

footer {
  min-height: 150px;
  background-color: #17191a;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* sizing and spacing */

.about {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  justify-content: center;
  display: block;
}

.tagline::before, .tagline::after {
  content: "";
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tagline::before {
  background: #212529;
  border-bottom: 2px;
  animation: typewriter 5.5s steps(57) 1s forwards;
}

.tagline::after {
  width: .125em;
  background: black;
  animation: 
    typewriter 5.5s steps(57) 1s forwards,
    blink 500ms steps(57) infinite;
}


@keyframes typewriter {
  to { 
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.mobile-menu {
  justify-content: center;
}
.about-row {
  color: #fff;
}

.tagline {
  font-size: 1.3em;
  position: relative;
}

.branding {
  height: 1em;
  width: 1em;
}

.branding:hover {
  color: #fff
}

.pfp {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.card-img-top {
  min-height: 20rem;
  max-width: 100%;
}

.container {
  justify-content: center;
}
.row {
  margin-top: 1rem;
}

.card {
  height: 100%;
  width: 100%;
}

.icons-container {
  padding: 3rem;
}

.adopt-me {
  max-width: 100%;
  height: auto;
}

.call-to-action__spacing {
  margin-bottom: 1%;
}

/* theme-utilities */

.theme-pink {
  color: #fbaccc;
}

.fab {
  color: #fff;
}

.fab:hover {
  color: #fbaccc
}

.nav-link {
  color: #fbaccc;
}

.submit {
  background-color: #fff;
}

.submit:hover {
  background-color: #fbaccc;
}

.nav-link:hover {
  color: #fff;
}

.theme-gray {
  background-color: #212529;
}

.footer-icon {
  color: #fff
}

@media screen and (max-width: 991px) and (min-width: 300px) {
  body { 
    padding-top: 120px; 
  }
}


